.cursor,
.follower {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    z-index: 50;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}

.cursor {
    width: 1rem;
    height: 1rem;
    background-color: white;
}

.follower {
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
}